/*
    Fábio Fischer
    Programação III
    Exercício 02
*/

body {
    margin: 0 !important;
}

textarea:focus, input:focus{
    outline: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.flex-spacer {
    flex-grow: 1;
}

.top-header-bar {
    background-color: rgb(0, 95, 164);
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
}

.body-wrapper {
    display:-webkit-flex;
    -webkit-justify-content:center;
    display:flex;
    justify-content:center;
}

.header-wrapper {
    display:-webkit-flex;
    -webkit-justify-content:center;
    display:flex;
    justify-content:center;
    background-color: rgb(0, 84, 154);
    padding: 15px;
}

.default-button {
    margin: 0 !important;
    padding: 10px !important;
    width: 125px !important;
    margin-top: 25px !important;
    color: rgb(122, 122, 122) !important;
    background-color: rgb(254, 254, 254) !important;
    border: 0px !important;
}
.default-button:hover {
    filter: brightness(75%);
    cursor: pointer;
}

.container-wrap {
    width: 45%;
    margin: auto;
    margin-top: 4.5%;
    padding: 5%;
    text-align: center;
    background-color: rgb(0, 95, 164);
}

.container-wrap h1 {
    color: white;
    font: 18pt Arial, Helvetica, sans-serif;
}

.container-wrap form {
    width: 50%;
    margin: auto;
}

.container-wrap input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(192, 192, 192);
    width: 100%;
    margin: 10px;
    padding: 7.5px;
    background: transparent;
    color: white;
}

.container-wrap table {
    border: 0px;
    outline: none;
    color: white;
}

.container-wrap ::placeholder {
    color: rgb(204, 204, 204);
    opacity: 1;
}

.form-divider {
    height: 1px;
    width: 40%;
    margin: auto;
    background-color: rgb(0, 95, 164);
}

.form-divider div {
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: #FFCC00;
}

.top-menu-bar {
    width: 100%;
    background-color: rgb(0, 84, 154);
    border-bottom: 3px solid #FFCC00;
    text-align: center;
}

.top-menu-bar a {
    padding: 0px 12px;
    color: #FFF;
    text-decoration: none;
    font: bold 11px Arial, Helvetica, sans-serif;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.top-menu-selected {
    color: #FFCC00 !important;
    font-size: 13px !important;
}